.XXX{
  color:black;
  text-align: center;
  padding: 10px;
}
body{
  background-color: red;}
.XX{
  color: blueviolet;
  
}
.title{
  size: 200px;
  color: chartreuse;
}
.para1{
  color: chartreuse;
}